{% extends "layouts/main.html" %}

{% block header %}


  {{ govukOneLoginServiceHeader({
    homepageLink: "/index.html",
    signOutLink: "/get-a-proof-of-benefit-letter/download/download-6-AF/signout.html",
    oneLoginLink: "/test-one-login",
    
    serviceNavigationParams: { 
      
      serviceName: "Check your next benefit and State Pension payments",
      navigationLabel: "index.html"
      
    }
  }) }}


{% endblock %}

{% block pageTitle %}
 We can only show some of your next payments
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
  }) }}

  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.back()"
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
        {% from "language-toggle/macro.njk" import dwpLanguageToggle %}
        {{ dwpLanguageToggle({
          selectedLang: "en",
          href: {
              en: "#",
              cy: "#"
          }
        }) }}
    </div>
  


{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
    We cannot show all of your next payments
    </h1>

<p class="govuk-body">You will be able to view payment information for some, but not all of your benefits.</p>

 <p class="govuk-body">This is because not all benefits are on this service yet.</p>

  <h2 class="govuk-heading-m">Payments you can view on this service</h2>

  <p class="govuk-body">Use this service to view your payments for:</p>


      <ul class="govuk-list govuk-list--bullet">
        <li class="govuk-body">Employment and Support Allowance (ESA)</li>
        <li class="govuk-body">Personal Independence Payment (PIP)</li>
      </ul>

  
<h2 class="govuk-heading-m">Payments you cannot view on this service</h2>

  <p>To view your Universal Credit payments, <a href="https://www.gov.uk/sign-in-universal-credit" class="govuk-link" rel="noreferrer noopener" target="_blank">sign in to your Universal Credit account (opens in a new tab)</a>.</p>

<div class="govuk-button-group">
  <a type="submit" class="govuk-button" data-module="govuk-button" href="/payments/v3/pp12-box/next-payment-12">
    Continue to next payments
  </a>
  
  <a type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" href="/payments/v3/pp12-box/account-home-12">
    Go back to account home 
  </a>
</div>

    </div>
  </main>
</div>

{% endblock %}