{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% extends "layouts/main.html" %}

{% block header %}


 {{ govukOneLoginServiceHeader({
    homepageLink: "#",
    signOutLink: "#",
    oneLoginLink: "#"
    
    
  }) }}

    {{ govukServiceNavigation({
      navigation: [],
      serviceName: "View your benefit and State Pension recent payments",
      navigationLabel: "index.html"
    }) }}

{% endblock %}



{% block pageTitle %}
Payment history
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.back()"
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
        {% from "language-toggle/macro.njk" import dwpLanguageToggle %}
        {{ dwpLanguageToggle({
          selectedLang: "en",
          href: {
              en: "#",
              cy: "#"
          }
        }) }}
    </div>
  

{% endblock %}

{% block content %}




  <div class="govuk-grid-column-two-thirds">
     
     
         <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Your recent payments
               </h1>
            </legend>
      </div>



    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/check-your-payment/v3/digital-service/next-payment" method="post">
              <div class="govuk-form-group">
              

  <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Payment dates and amounts</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">From</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">19 December 2025</th>
      <td class="govuk-table__cell">Pension Credit</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£436.30</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">19 December 2025</th>
      <td class="govuk-table__cell">Pension Credit</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£436.30</td>
    </tr>
  <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">19 December 2025</th>
      <td class="govuk-table__cell">Pension Credit</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£436.30</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">19 December 2025</th>
      <td class="govuk-table__cell">Pension Credit</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£436.30</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">19 December 2025</th>
      <td class="govuk-table__cell">Pension Credit</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£436.30</td>
    </tr>

  </tbody>
</table>



 <nav class="govuk-pagination" aria-label="Pagination">
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link" href="/payments/v3/payment-history" aria-label="Page 1" aria-current="page">
        1
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="/payments/v3/payment-history-2" aria-label="Page 2">
        2
      </a>
    </li>
  </ul>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="/payments/v3/payment-history-2" rel="next">
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v3h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
    </a>
  </div>
 </nav>



    

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">If something is missing or looks wrong</h2>

    <p class="govuk-body">If a payment doesn't look right or you need more information, contact the benefit team directly. </p>

    <p class="govuk-body">Find their contact details in a letter they have sent to you, or in <a href="https://www.gov.uk/browse/benefits"
        class="govuk-link" rel="noreferrer noopener" target="_blank">guidance about the benefit on GOV.UK (opens in a
        new tab)</a>.</p>
        
    

                    
          <br>
          <a class="govuk-button" href="/payments/v3/account-home">
           Go back to account home
          </a>
          </form>
</div>  
</div> 

      
 <!------------------------------------ one third nav panel ---------------------------------->

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="/payments/v3/payment-amount-date" class="govuk-link">Check your next payment</a>
            </li>
            <li>
              <a href="/payments/v3/personal-details" class="govuk-link">View your personal details</a>
            </li>
          </ul>
        </nav>
      </aside>
      </div>

    </div>
  </main>
</div>

        
      <!--<div class="govuk-grid-column-one-third">
        
        <h2 class="govuk-heading-m">Related content</h2>

          <p class="govuk-body">
   <a href="/payments/v3/payment-amount-date" class="govuk-link">Check your next payment</a></p>
         <p class="govuk-body">
   <a href="/payments/v3/personal-details" class="govuk-link">View your personal details</a></p>
       
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
    </div>
  </main>
</div>-->     





          
        

{% endblock %}