{% extends "layouts/main.html" %}

{% block header %}


  {{ govukOneLoginServiceHeader({
    homepageLink: "/index.html",
    signOutLink: "/get-a-proof-of-benefit-letter/download/download-6-AF/signout.html",
    oneLoginLink: "/test-one-login",
    
    serviceNavigationParams: { 
      
      serviceName: "View your benefit and State Pension recent payments",
      navigationLabel: "index.html"
      
    }
  }) }}


{% endblock %}

{% block pageTitle %}
Payment history
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.back()"
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
        {% from "language-toggle/macro.njk" import dwpLanguageToggle %}
        {{ dwpLanguageToggle({
          selectedLang: "en",
          href: {
              en: "#",
              cy: "#"
          }
        }) }}
    </div>
  

{% endblock %}

{% block content %}




  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">We cannot show your recent payments on this service</h1>
  </div>

    
  <div class="govuk-grid-column-two-thirds">

     <p class="govuk-body">Your benefits are not available on this service yet.</p>
     
     <h2 class="govuk-heading-m">To get your payment information</h2>
    
     <p>You can contact each benefit team directly:</p>
     <ul class="govuk-list govuk-list--bullet">
       <li>Bereavement Support Payment</li>
       <li>Industrial Injuries Disablement Benefit (IIDB)</li>
     </ul>

     <p class="govuk-body">Find their contact details in a letter they have sent to you, or in <a href="https://www.gov.uk/browse/benefits"
        class="govuk-link" rel="noreferrer noopener" target="_blank">guidance about the benefit on GOV.UK (opens in a
        new tab)</a>.</p>

        <p>To view your Universal Credit payments, <a href="https://www.gov.uk/sign-in-universal-credit" class="govuk-link" rel="noreferrer noopener" target="_blank">sign in to your Universal Credit account (opens in a new tab)</a>.</p>
  
             
          <br>
          <a class="govuk-button" href="/payments/v3/account-home">
           Go back to account home
          </a>
          </form>
          </div>
          
 
 <!------------------------------------ one third nav panel ---------------------------------->

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="/payments/v3/payment-amount-date" class="govuk-link">Check your next payment</a>
            </li>
            <li>
              <a href="/payments/v3/personal-details" class="govuk-link">View your personal details</a>
            </li>
          </ul>
        </nav>
      </aside>
      </div>

    </div>
  </main>
</div>  

{% endblock %}