{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{{ super() }}

<style>
  .govuk-service-navigation__wrapper{
      flex-grow: 1;
  }
</style>

{% set navigationEnd %}
<li class="govuk-service-navigation__item" style="margin-left: auto;">
  <a class="govuk-service-navigation__link" href="#">Sign out</a>
</li>
{% endset %}

{{ govukServiceNavigation({

serviceName: "Get proof of your benefits and State Pension",

  slots: {
      navigationEnd: navigationEnd
  }
}) }}

{% endblock %}



{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "digital-or-letter"
  }) }}

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{% if 'State Pension' in data['inScope'] and data['inScope']|length == 1 %}
             <h1 class="govuk-heading-l">
        How to get proof of your State Pension in another format
      </h1>
               {% endif %}

               {% if 'State Pension' in data['inScope'] and data['inScope']|length > 1 %}
                <h1 class="govuk-heading-l">
        How to get proof of your benefits and State Pension in another format
      </h1>
                 {% endif %}

                 {% if 'State Pension' not in data['inScope'] %}
                  <h1 class="govuk-heading-l">
        How to get proof of your benefits in another format
      </h1>
                   {% endif %}
      

      <p>
        You need to contact the benefit team directly.
      </p>


 
 <p>For Attendance Allowance, Disability Living Allowance (DLA) for adults, or Personal Independence Payment (PIP),
  <a href="https://www.gov.uk/disability-service-centre" class="govuk-link" rel="noreferrer noopener" target="_blank"> contact the Disability Service Centre (opens in a new tab)</a>.<p>

  <p>For State Pension, or Pension Credit, 
  <a href="https://www.gov.uk/contact-pension-service" class="govuk-link" rel="noreferrer noopener" target="_blank">contact the Pension Service (opens in a new tab)</a>.</p>
 
  <p>For Employment and Support Allowance (ESA), Income Support, or Jobseeker’s Allowance, 
  <a href="https://www.gov.uk/contact-jobcentre-plus" class="govuk-link" rel="noreferrer noopener" target="_blank">contact Jobcentre Plus (opens in a new tab)</a>.</p>
  <br>
 



<!--Alison this content below was me making a start at making this dynamic-->
<!--{% set benefitsList = ["Employment and Support Allowance (ESA)", "Income Support", "Jobseeker’s Allowance"] %}
{% for benefit in data['researchSetUpBenefits'] %}
  {% if benefit in benefitsList %}
    <p>For {{ data['researchSetUpBenefits'] | formatList }}, 
  <a href="https://www.gov.uk/contact-jobcentre-plus" class="govuk-link" rel="noreferrer noopener" target="_blank">contact Jobcentre Plus (opens in a new tab)</a>.
  {% endif %}
{% endfor %}


{% set benefitsList = ["State Pension", "Pension Credit"] %}
{% for benefit in data['researchSetUpBenefits'] %}
  {% if benefit in benefitsList %}
    <p>For {{ data['researchSetUpBenefits'] | formatList }}, 
  <a href="https://www.gov.uk/contact-pension-service" class="govuk-link" rel="noreferrer noopener" target="_blank">contact the Pension Service (opens in a new tab)</a>.
  {% endif %}
{% endfor %}


{% set benefitsList = ["Universal Credit"] %}
{% for benefit in data['researchSetUpBenefits'] %}
  {% if benefit in benefitsList %}
    <p>For {{ data['researchSetUpBenefits'] | formatList }}, 
  <a href="https://www.gov.uk/sign-in-universal-credit" class="govuk-link" rel="noreferrer noopener" target="_blank">sign in to your Universal Credit account (opens in a new tab)</a>.
  {% endif %}
{% endfor %}


{% set benefitsList = ["Attendance Allowance", "Disability Living Allowance (DLA) for adults", "Personal Independence Payment (PIP)"] %}
{% for benefit in data['researchSetUpBenefits'] %}
  {% if benefit in benefitsList %}
    <p>For {{ data['researchSetUpBenefits'] | formatList }}, 
  <a href="https://www.gov.uk/disability-service-centre" class="govuk-link" rel="noreferrer noopener" target="_blank"> contact the Disability Service Centre (opens in a new tab)</a>.
  {% endif %}
{% endfor %}-->








     

















        <div class="govuk-button-group">
          {{ govukButton({
            text: "Sign out",
            href: "signout"
          }) }}

          {{ govukButton({
            text: "Go back to account home",
            href: "account-home",
            classes: "govuk-button--secondary"
          }) }}
        </div>

    </div>
  </div>

{% endblock %}
