{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% extends "layouts/main.html" %}

{% block header %}


 {{ govukOneLoginServiceHeader({
    homepageLink: "#",
    signOutLink: "#",
    oneLoginLink: "#"
    
    
  }) }}

    {{ govukServiceNavigation({
      navigation: [],
      serviceName: "Check your next benefit and State Pension payments",
      navigationLabel: "index.html"
    }) }}

{% endblock %}


{% block pageTitle %}
Check your next payment
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
  }) }}

  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.back()"
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
        {% from "language-toggle/macro.njk" import dwpLanguageToggle %}
        {{ dwpLanguageToggle({
          selectedLang: "en",
          href: {
              en: "#",
              cy: "#"
          }
        }) }}
    </div>
  


{% endblock %}

{% block content %}



      <div class="govuk-grid-column-two-thirds">
        
          <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Your next payments
              </h1>
            </legend>
            </div>
            
       
 <div class="govuk-grid-column-two-thirds">

           <form class="form" action="/check-your-payment/v3/digital-service/next-payment" method="post">
    <div class="govuk-form-group">

    {% for benefit in data.inScope %} 
    {% if benefit == 'Attendance Allowance' %}
                 
    <div class="nhsuk-card">
    <div class="nhsuk-card__heading-container">
      <h2 class="govuk-heading-m">
        Attendance Allowance
      </h2>
    </div>
    <div class="nhsuk-card__content">
      <p class="govuk-body"><strong>£110.40</strong><br>To be paid on 28 May 2026</p>
    </div>
  </div> 

    {% elseif benefit == 'Disability Living Allowance (DLA) for adults' %}
        
      <div class="nhsuk-card">
    <div class="nhsuk-card__heading-container">
      <h2 class="govuk-heading-m">
        Disability Living Allowance (DLA) for adults
      </h2>
    </div>
    <div class="nhsuk-card__content">
      <p class="govuk-body"><strong>£187.45</strong><br>To be paid on 15 June 2026</p>
    </div>
  </div>

    {% elseif benefit == 'Employment and Support Allowance (ESA)' %}

     <div class="nhsuk-card">
    <div class="nhsuk-card__heading-container">
      <h2 class="govuk-heading-m">
        Employment and Support Allowance (ESA)
      </h2>
    </div>
    <div class="nhsuk-card__content">
      <p class="govuk-body"><strong>£259.00</strong><br>To be paid on 20 June 2026</p>
    </div>
  </div>
                    
    {% elseif benefit == 'Income Support' %}

     <div class="nhsuk-card">
    <div class="nhsuk-card__heading-container">
      <h2 class="govuk-heading-m">
        Income Support
      </h2>
    </div>
    <div class="nhsuk-card__content">
      <p class="govuk-body"><strong>£92.05</strong><br>To be paid on 29 June 2026</p>
    </div>
  </div>

      {% elseif benefit == 'Jobseeker’s Allowance' %}

       <div class="nhsuk-card">
    <div class="nhsuk-card__heading-container">
      <h2 class="govuk-heading-m">
        Jobseeker’s Allowance
      </h2>
    </div>
    <div class="nhsuk-card__content">
      <p class="govuk-body"><strong>£183.40</strong><br>To be paid on 12 June 2026</p>
    </div>
  </div>

      {% elseif benefit == 'Pension Credit' %}

       <div class="nhsuk-card">
    <div class="nhsuk-card__heading-container">
      <h2 class="govuk-heading-m">
        Pension Credit
      </h2>
    </div>
    <div class="nhsuk-card__content">
      <p class="govuk-body"><strong>£436.30</strong><br>To be paid on 18 June 2026</p>
    </div>
  </div>
        
      {% elseif benefit == 'State Pension' %}

        <div class="nhsuk-card">
    <div class="nhsuk-card__heading-container">
      <h2 class="govuk-heading-m">
        State Pension
      </h2>
    </div>
    <div class="nhsuk-card__content">
      <p class="govuk-body"><strong>£884.80</strong><br>To be paid on 01 July 2026</p>
    </div>
  </div>
        
      {% elseif benefit == 'Personal Independence Payment (PIP)' %}
        
   <div class="nhsuk-card">
    <div class="nhsuk-card__heading-container">
      <h2 class="govuk-heading-m">
        Payments being processed
      </h2>
    </div>
    <div class="nhsuk-card__content">
      <p class="govuk-body">It is too early to view payment information for:</p>
      <ul>
        <li>
          <p class="govuk-body">Personal Independence Payment (PIP).</p>
        </li>
      </ul>
     
      <p class="govuk-body">We can only show payment information about 3 days before you get paid (not including weekends or bank holidays.)</p>
    </div>
  </div> 

  
  
  
                            
     

                    {% endif %}
                    {% endfor %}


    <!------------------------------------- If something looks wrong section ------------------------------------------>

    
    <h2 class="govuk-heading-m">If something is missing or looks wrong</h2>

    <p class="govuk-body">If a payment doesn't look right or you need more information, contact the benefit team directly.</p>

    <p class="govuk-body">Find their contact details in a letter they've sent to you, or in <a href="https://www.gov.uk/browse/benefits"
        class="govuk-link" rel="noreferrer noopener" target="_blank">guidance about the benefit on GOV.UK (opens in a
        new tab)</a>.</p>

   

         <!--<p class="govuk-!-font-size-16"><a href="" target="_blank">Print</a> <br><br> <a class="govuk-!-font-size-16"><a href="" target="_blank">Download</a></p>-->
            
          <br>
          <a class="govuk-button" href="/payments/v4/account-home">
           Go back to account home
          </a>
          </form>
          </div>
          </div>
          
          


<!------------------------------------ one third nav panel ---------------------------------->

 {# Set safe defaults to avoid undefined errors #}
    {% set benefits = data['researchSetUpBenefits'] if data['researchSetUpBenefits'] else [] %}
    {% set inScope = data['inScope'] if data['inScope'] else [] %}
    {% set oOScope = data['oOScope'] if data['oOScope'] else [] %}

<div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              {% if oOScope|length > 0 and inScope|length > 0 %}
              <a href="/payments/v4/new-page-in-and-out-of-scope-recent" class="govuk-link">View your recent payments</a></p>
            </li>
            <li>
              <a href="/payments/v4/personal-details" class="govuk-link">View your personal details</a>
            </li>
          </ul>
          
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              {% elif data['uCBenefit'] and inScope|length > 0 %}
              <a href="/payments/v4/new-page-in-and-out-of-scope-recent" class="govuk-link">View your recent payments</a></p>
            </li>
            <li>
              <a href="/payments/v4/personal-details" class="govuk-link">View your personal details</a>
            </li>
          </ul>

          <ul class="govuk-list govuk-!-font-size-16">
             <li>
              {% elif data['carersBenefit'] and inScope|length > 0 %}
              <a href="/payments/v4/new-page-in-and-out-of-scope-recent" class="govuk-link">View your recent payments</a></p>
            </li>
            <li>
              <a href="/payments/v4/personal-details" class="govuk-link">View your personal details</a>
            </li>
          </ul>

        
          <ul class="govuk-list govuk-!-font-size-16">
          <li>
              {% else %}
              <a href="/payments/v4/payment-history" class="govuk-link">View your recent payments</a></p>
            </li>
            <li>
              <a href="/payments/v4/personal-details" class="govuk-link">View your personal details</a>
            </li>
          </ul>
          {% endif %}

        </nav>
      </aside>
 
  </main>
</div>



        
     <!-- <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Related content</h2>

          <p class="govuk-body">
   <a href="/payments/v4/payment-history" class="govuk-link">View your recent payments</a></p>
         <p class="govuk-body">
   <a href="/payments/v4/personal-details" class="govuk-link">View your personal details</a></p>
       
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
    </div>
  </main>
</div>  -->   



{% endblock %}