{% extends "layouts/main.html" %}

{% block header %}


  {{ govukOneLoginServiceHeader({
    homepageLink: "/index.html",
    signOutLink: "/get-a-proof-of-benefit-letter/download/download-6-AF/signout.html",
    oneLoginLink: "/test-one-login",
    
    serviceNavigationParams: { 
      
      serviceName: "View your benefit and State Pension recent payments",
      navigationLabel: "index.html"
      
    }
  }) }}


{% endblock %}

{% block pageTitle %}
Payment history
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
  }) }}

   {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/check-your-payment/v3/digital-service/next-payment" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                  Your recent payments
                  </h1>
              </legend>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Date</th>
      <th scope="col" class="govuk-table__header app-custom-class">Benefit</th>
      <th scope="col" class="govuk-table__header app-custom-class">Amount</th>
    </tr>
  </thead>

    {% if data['inScope'].length === 1 %}

      <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">12 January 2026</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">05 January 2026</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell">15 December 2025</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">08 December 2025</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">17 November 2025</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">10 November 2025</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
  </tbody>
                
    {% elif data['inScope'].length === 2 %}
  
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">20 October 2025</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">13 October 2026</td>
      <td class="govuk-table__cell">State Pension</td>
      <td class="govuk-table__cell">£921.00</td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell">22 September 2025</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">15 September 2025</td>
      <td class="govuk-table__cell">State Pension</td>
      <td class="govuk-table__cell">£921.00</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">25 August 2025</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">18 August 2025</td>
      <td class="govuk-table__cell">State Pension</td>
      <td class="govuk-table__cell">£921.00</td>
    </tr>
  </tbody>

    {% elif data['inScope'].length > 2 %}

      <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">24 October 2025</td>
      <td class="govuk-table__cell">Pension Credit</td>
      <td class="govuk-table__cell">£908.40</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">21 October 2025</td>
      <td class="govuk-table__cell">State Pension</td>
      <td class="govuk-table__cell">£921.00</td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell">10 November 2025</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">26 September 2025</td>
      <td class="govuk-table__cell">Pension Credit</td>
      <td class="govuk-table__cell">£908.40</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">23 September 2025</td>
      <td class="govuk-table__cell">State Pension</td>
      <td class="govuk-table__cell">£921.00</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">13 October 2025</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
  </tbody>



    {% endif %}
 </table>




{% if data['inScope'].length === 2 %}
<nav class="govuk-pagination" aria-label="Pagination">
  <div class="govuk-pagination__prev">
    <a class="govuk-link govuk-pagination__link" href="/payments/v2-no-payment-ready/payment-history" rel="prev">
      <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      <span class="govuk-pagination__link-title">
        Previous<span class="govuk-visually-hidden"> page</span>
      </span>
    </a>
  </div>
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="/payments/v2-no-payment-ready/payment-history" aria-label="Page 1">
        1
      </a>
    </li>
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link" href="/payments/v2-no-payment-ready/payment-history-2" aria-label="Page 2">
        2
      </a>
    </li>
  </ul>
</nav>

{% elif data['inScope'].length > 2 %}

<nav class="govuk-pagination" aria-label="Pagination">
    <div class="govuk-pagination__prev">
    <a class="govuk-link govuk-pagination__link" href="/payments/v2-no-payment-ready/payment-history" rel="prev">
      <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      <span class="govuk-pagination__link-title">
        Previous<span class="govuk-visually-hidden"> page</span>
      </span>
    </a>
  </div>
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="/payments/v2-no-payment-ready/payment-history" aria-label="Page 1" aria-current="page">
        1
      </a>
    </li>
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link" href="/payments/v2-no-payment-ready/payment-history-2" aria-label="Page 2">
        2
      </a>
    </li> 
  </ul>
  
</nav>
{% endif %}


<!------------------------------------ Out of scope benfit info ------------------------------------>

    {% if data['oOScope'] | length > 0 and data['inScope'] | length > 0 %}
        <h2 class="govuk-heading-m">Payments you cannot view using this service</h2>

       {% elif data['inScope'].length > 0 and data['uCBenefit'] == true %}
       <h2 class="govuk-heading-m">Payments you cannot view using this service</h2>

      {% elif data['oOScope'].length > 0 or data['uCBenefit'] == true %}
       <h2 class="govuk-heading-m">How to view your recent payments</h2>

       {% elif data['oOScope'].length > 0 or data['carersBenefit'] == true %}
      <h2 class="govuk-heading-m">How to view your recent payments</h2>
      
      {% elif data['oOScope'] | length > 0 %}
        <h2 class="govuk-heading-m">How to view your recent payments</h2>
      {% endif %}



      {% if data['uCBenefit'] == true %}
        <p>To view your Universal Credit payments, <a href="https://www.gov.uk/sign-in-universal-credit" class="govuk-link" rel="noreferrer noopener" target="_blank">sign in to your Universal Credit account (opens in a new tab)</a>.</p>
      {% endif %}


      {% set benefits = data.researchSetUpBenefits or [] %}

      {% if "Carer’s Allowance" in benefits %}
        <p>For Carer's Allowance, <a href="https://www.gov.uk/sign-in-universal-credit" class="govuk-link" rel="noreferrer noopener" target="_blank">contact the Carer's Allowance Unit (opens in a new tab)</a>.</p>
      {% endif %}


<!------------------------------------ 1 out of scope benefit ----------------------------------------->

    {% if data.oOScope | length == 1 and data.oOScope[0] != "Carer’s Allowance" %}
    <p>To view your {{ data['oOScope'][0] }} payments, you need to contact them.</p>


    <p>Find their details for in a letter they have sent to you, or in <a href="https://www.gov.uk/browse/benefits"
        class="govuk-link" rel="noreferrer noopener" target="_blank">guidance about the benefit on GOV.UK (opens in a
        new tab)</a>.</p>



<!------------------------------------ 2 out of scope benefits ----------------------------------------->

{% elif data['oOScope'].length === 2 %}



    <p>To view your payments for {{ data['oOScope'] | formatList }}, you need to contact them.</p>

    <p>Find their details in letters they have sent to you, or in <a href="https://www.gov.uk/browse/benefits"
        class="govuk-link" rel="noreferrer noopener" target="_blank">guidance about the benefit on GOV.UK (opens in a
        new tab)</a>.</p>


<!------------------------------------- more than 2 out of scope benefits ------------------------------------------>


    {% elif data['oOScope'].length > 2 %}

    <p>You cannot use this service to view your payments for:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for benefit in data['oOScope'] %}
      <li>{{ benefit }}</li>
      {% else %}
      <p>No benefit selected</p>
      {% endfor %}
    </ul>

    <p>Find their contact details in letters they have sent to you, or in <a href="https://www.gov.uk/browse/benefits"
        class="govuk-link" rel="noreferrer noopener" target="_blank">guidance about the benefit on GOV.UK (opens in a
        new tab)</a>.</p>

    {% endif %}


<!------------------------------------- If soemthing looks wrong section ------------------------------------------>

    {% if data['inScope'] | length > 0 %}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">If something looks wrong</h2>

    <p class="govuk-body">If your payment is not what you expected, contact the benefit team that pays you.</p>

    <p class="govuk-body">Find their contact details in a letter they've sent to you, or in <a href="https://www.gov.uk/browse/benefits"
        class="govuk-link" rel="noreferrer noopener" target="_blank">guidance about the benefit on GOV.UK (opens in a
        new tab)</a>.</p>
        
    {% endif %}





              
          <br>
          <a class="govuk-button" href="/payments/v2-no-payment-ready/account-home">
           Go back to account home
          </a>
          </form>
          </div>
        </div>
     


      <!------------------------------------ one third nav panel ---------------------------------->

        
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Related content</h2>

          <p class="govuk-body">
   <a href="/payments/v2-no-payment-ready/payment-amount-date" class="govuk-link">Check your next payment</a></p>
         <p class="govuk-body">
   <a href="/payments/v2-no-payment-ready/personal-details" class="govuk-link">View your personal details</a></p>
       
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
    </div>
  </main>
</div> 


       
            
        

{% endblock %}