{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ super() }}

  {{ govukServiceNavigation({
    serviceName: "Manage your benefits and State Pension",
    serviceUrl: "/"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Payments
      </h1>

      <p class="govuk-body-l">This journey lets people check next payment date, and amount.</p>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<!------------------------- Version 1 ------------------------------->

      <span class="govuk-caption-m">September 2025</span>
      <h2 class="govuk-heading-l">Version 1</h2>


      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

      {{ govukWarningText({
        text: "The dynamic content in this design is for user testing only.",
        iconFallbackText: "Warning"
      }) }}
      <p>This design lets users know check their next payment date and amount.</p>
      


      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Change log
          </span>
        </summary>
        <div class="govuk-details__text">
            <p>This version includes:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Add a list of bullets here</li>
             </ul>
        </div>
      </details>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      <div class="govuk-button-group">


        <!-- Alison use this link instead of the one above if we want the journey to start at 'research set up benefit' ---->
        {{ govukButton({
          text: "View design: Payments              ",
          href: "/payments/v1/research-set-up/intro"
        }) }}

      </div>


      <div class="govuk-!-padding-4 govuk-!-margin-bottom-6" style="background-color:#ECF2F9; border-radius:5px;">
        <p>The Online Identity and Verification (OIDV) service is not included in this
          design</p>
      </div>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<!------------------------------------------- End of Version 1 --------------------------------------------->



  <script>
    document.querySelectorAll('.govuk-table button').forEach(button => {
      button.addEventListener('click', () => {
        // Get the link from the button's data-link attribute
        const linkToCopy = button.getAttribute('data-link');
        if (linkToCopy) {
          // Copy the link to the clipboard
          navigator.clipboard.writeText(linkToCopy).then(() => {
            // Find the "Copied!" message next to the button
            const copiedMessage = button.nextElementSibling;

            if (copiedMessage) {
              // Hide the button
              button.style.display = 'none';
              // Show the "Copied!" message
              copiedMessage.style.display = 'inline';

              // Restore the button after 2 seconds
              setTimeout(() => {
                copiedMessage.style.display = 'none';
                button.style.display = 'inline';
              }, 3000); // Hide the message after 3 seconds
            }
          }).catch(err => console.error('Failed to copy link:', err));
        }
      });
    });
</script>
  

{% endblock %}
