{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ super() }}

  {{ govukServiceNavigation({
    serviceName: "Check your next benefit and State Pension payments",
    serviceUrl: "/"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Payments
      </h1>

      <p class="govuk-body-l">This journey lets people check next payment date, amount, and the past 6 months of payment history.</p>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



<!------------------------- Version 2 ------------------------------->

      <span class="govuk-caption-m">December 2025</span>
      <h2 class="govuk-heading-l">Version 1a - including unhappy paths</h2>


      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

      {{ govukWarningText({
        text: "The dynamic content in this design is for user testing only.",
        iconFallbackText: "Warning"
      }) }}
      <p>This design lets users check their next payment date, amount, and the past 6 months of payment history</p>
      


      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Change log
          </span>
        </summary>
        <div class="govuk-details__text">
            <p>This version includes:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Sign posting for out of scope benefits</li>
              <li>Sign posting for when payemnt information looks wrong</li>
              <li>Content for when there is no benefits on record</li>
              <li>3 months of payemnt history</li>
             </ul>
        </div>
      </details>

        <div>
        {{ govukButton({
          text: "Scenario: Some payments are ready, PIP is not ready",
          href: "/payments/v2/research-set-up/intro"
        }) }}
        </div>

        <div>
        {{ govukButton({
          text: "Scenario: No payments are ready",
          href: "/payments/v2-no-payment-ready/research-set-up/intro"
        }) }}
        </div>

        <div>
        {{ govukButton({
          text: "Static page: No payment history",
          href: "/payments/v2/no-payment-history"
        }) }}
        </div>

        <div>
         {{ govukButton({
          text: "Static page: No benefits on record",
          href: "/payments/v2/no-benefits-on-record"
        }) }}
        </div>

        <div>
         {{ govukButton({
          text: "Static page: Account home - If they have never been on benefits before",
          href: "/payments/v2/account-home-no-previous-benefits"
        }) }}
        </div>
        

      

      <h2 class="govuk-heading-m">Tech fail pages</h2>

      <p><a href="/payments/v2/tech-fails/try-again-later" class="govuk-link" rel="noreferrer noopener" target="_blank">Try again later</a>
      <p><a href="/payments/v2/tech-fails/problem-with-service" class="govuk-link" rel="noreferrer noopener" target="_blank">Service failed</a>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<!------------------------- Version 1 ------------------------------->

      <span class="govuk-caption-m">December 2025</span>
      <h2 class="govuk-heading-l">Version 1 - happy path only</h2>


      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

      {{ govukWarningText({
        text: "The dynamic content in this design is for user testing only.",
        iconFallbackText: "Warning"
      }) }}
      <p>This design lets users check their next payment date, amount, and the past 6 months of payment history</p>
      


      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Change log
          </span>
        </summary>
        <div class="govuk-details__text">
            <p>This version includes:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Design is based on the happy path</li>
                <ul class="govuk-list govuk-list--bullet">
                <li>Payments for inscope benefits only</li>
                <li>Payment data is accurate (3 working days before they get paid)</li>
                <li>The payment amount is the same as what the user is expecting</li>
              </ul>
             </ul>
        </div>
      </details>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      <div class="govuk-button-group">


       
        {{ govukButton({
          text: "View design: Payments",
          href: "/payments/v1/research-set-up/intro"
        }) }}

      </div>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<!------------------------------------------- End of Version 1 --------------------------------------------->



  <script>
    document.querySelectorAll('.govuk-table button').forEach(button => {
      button.addEventListener('click', () => {
        // Get the link from the button's data-link attribute
        const linkToCopy = button.getAttribute('data-link');
        if (linkToCopy) {
          // Copy the link to the clipboard
          navigator.clipboard.writeText(linkToCopy).then(() => {
            // Find the "Copied!" message next to the button
            const copiedMessage = button.nextElementSibling;

            if (copiedMessage) {
              // Hide the button
              button.style.display = 'none';
              // Show the "Copied!" message
              copiedMessage.style.display = 'inline';

              // Restore the button after 2 seconds
              setTimeout(() => {
                copiedMessage.style.display = 'none';
                button.style.display = 'inline';
              }, 3000); // Hide the message after 3 seconds
            }
          }).catch(err => console.error('Failed to copy link:', err));
        }
      });
    });
</script>
  

{% endblock %}
