{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ super() }}

  {{ govukServiceNavigation({
    serviceName: "Check your next benefit and State Pension payments",
    serviceUrl: "/"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Payments
      </h1>

      <p class="govuk-body-l">This journey lets people check next payment date, amount, and the past 6 months of payment history.</p>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">





<!------------------------- Version 3 ------------------------------->

      <span class="govuk-caption-m">December 2025</span>
      <h2 class="govuk-heading-l">Version 1.2 - MVP - Content changes</h2>


      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

      {{ govukWarningText({
        text: "The dynamic content in this design is for user testing only.",
        iconFallbackText: "Warning"
      }) }}
      <p>This design lets users check their next payment date, amount, and the past 3 months of payment history</p>
      


      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Change log
          </span>
        </summary>
        <div class="govuk-details__text">
            <p>This version includes:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><p><a href="https://dwpdigital.atlassian.net/browse/CV-2549" class="govuk-link">Ticket 2549</a> - changed 'Contact us' H1 to: 'You do not have any recent payments' / 'We cannot show your next payments' - provided body text to explain 3 day/ 3 month time spans.</li>
             </ul>
              <ul class="govuk-list govuk-list--bullet">
              <li><p><a href="https://dwpdigital.atlassian.net/browse/CV-2561" class="govuk-link">Ticket 2561</a> - removed repetition of general signposting link. Tweaked H2 header for active tone.</li>
             </ul>
              <ul class="govuk-list govuk-list--bullet">
              <li><p><a href="https://dwpdigital.atlassian.net/browse/CV-2623" class="govuk-link">Ticket 2623</a> - designed new H2 and body text to cover scenarios where a payment has been rejected, recalled, returned or canceled.</li>
             </ul>
              <ul class="govuk-list govuk-list--bullet">
              <li><p><a href="https://dwpdigital.atlassian.net/browse/CV-2622" class="govuk-link">Ticket 2622</a> - updated H2 and body text content to better describe when to call in or what 'something wrong' means (added missing).</li>
             </ul>
              <ul class="govuk-list govuk-list--bullet">
              <li><p><a href="https://dwpdigital.atlassian.net/browse/CV-2626" class="govuk-link">Ticket 2626</a> - tweaks to H1, changes to H2 and body text to remove conflicting message between headers for handling out of scope benefits only.
Introduced bullets for list of 2 out of scope benefits or over, new lead in text for bullets and out of scope across different dynamic text variations.</li>
             </ul>
              <ul class="govuk-list govuk-list--bullet">
              <li><p><a href="https://dwpdigital.atlassian.net/browse/CV-2555" class="govuk-link">Ticket 2555</a>.</li>
             </ul>
        </div>
      </details>

        <div>
        {{ govukButton({
          text: "Version 1.2 - MVP - Content changes",
          href: "/payments/v3/research-set-up/intro"
        }) }}
        </div>

        

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
          User research round - 39 participant 1 - 9
        </span>
      </h2>
     
    </div>
    <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content">
     <ul class="govuk-list govuk-list--bullet">
        <li><p class="govuk-body">1 - Next payments</p></li>
        <div>
        {{ govukButton({
          text: "1.1 - In scope only, payments ready and not ready",
          href: "/payments/v3/ur-1-1"
        }) }}
        </div>
         <div>
        {{ govukButton({
          text: "1.2 - In and out of scope, payments ready and not ready",
          href: "/payments/v3/ur-1-2"
        }) }}
        </div>
         <div>
        {{ govukButton({
          text: "1.3 - In and out of scope, no payments ready",
          href: "/payments/v3/ur-1-3"
        }) }}
        </div>
        <li><p class="govuk-body">2 - Next payment redesign</p></li>
        
        <div>
        {{ govukButton({
          text: "Next Payment - table version",
          
          href: "/payments/v3/ur-2"
        }) }}
        </div>
          <li><p class="govuk-body">3 - Recent payments page. Signposting: missing payment (rejected) removal of repeated link</p></li>
        <div>
        {{ govukButton({
          text: "In and out of scope showing recent payments",
          href: "/payments/v3/ur-3"
        }) }}
        </div>
        <li><p class="govuk-body">4 - All out of scope</p></li>
        <div>
        {{ govukButton({
          text: "Someone who gets only out of scope benefits",
          href: "/payments/v3/ur-4"
        }) }}
        </div>
 </ul>
    </div>
    </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
          User research round 39 participants 10 - 12
        </span>
      </h2>
    </div>
    <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content">
      <ul class="govuk-list govuk-list--bullet">
        <li><p class="govuk-body">Participant 10 and 11</p></li>
        <div>
        {{ govukButton({
          text: "PP10/11 Boxes version",
          href: "/payments/v3/pp10-11-box/account-home-10-11" 
        }) }}
        </div>
         <div>
        {{ govukButton({
          text: "PP10/11 Table version",
          href: "/payments/v3/pp10-11-box/next-payment-10-11-table"
        }) }}
        </div>
          <div>
        {{ govukButton({
          text: "PP10/11 No payment ready (version A)",
          href: "/payments/v3/pp10-11-box/no-payment ready-10-11"
        }) }}
        </div>
          <div>
        {{ govukButton({
          text: "PP10/11 No payment ready (version B)",
          href: "/payments/v3/pp10-11-box/no-payment ready-10-11-vb"
        }) }}
        </div>

     
         
        <li><p class="govuk-body">Participant 12</p></li>
        
        <div>
        {{ govukButton({
          text: "PP12 Boxes version",
          href: "/payments/v3/pp12-box/account-home-12"
        }) }}
        </div>

         <div>
        {{ govukButton({
          text: "Next payment - Boxes - version B",
          href: "/payments/v3/pp12-box/next-payment-12-vb"
        }) }}
        </div>

         <div>
        {{ govukButton({
          text: "PP12 Table version",
          href: "/payments/v3/pp12-box/next-payment-12-table"
        }) }}
        </div>

         <div>
        {{ govukButton({
          text: "PP12 No payment ready",
          href: "/payments/v3/pp12-box/account-home-12-no-payment-ready"
        }) }}
        </div>

          
 </ul>
    </div>
    </div>
    


 
    

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">




<!------------------------- Version 2 ------------------------------->

      <span class="govuk-caption-m">December 2025</span>
      <h2 class="govuk-heading-l">Version 1.1 - MVP Baseline</h2>


      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

      {{ govukWarningText({
        text: "The dynamic content in this design is for user testing only.",
        iconFallbackText: "Warning"
      }) }}
      <p>This design lets users check their next payment date, amount, and the past 3 months of payment history</p>
      


      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Change log
          </span>
        </summary>
        <div class="govuk-details__text">
            <p>This version includes:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Sign posting for out of scope benefits</li>
              <li>Sign posting for when payemnt information looks wrong</li>
              <li>Content for when there is no benefits on record</li>
              <li>3 months of payemnt history</li>
             </ul>
        </div>
      </details>

        <div>
        {{ govukButton({
          text: "Version 1.1 - MVP - release 1",
          href: "/payments/v2/research-set-up/intro"
        }) }}
        </div>

        <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            User research scenarios
          </span>
        </summary>

        <div>
        {{ govukButton({
          text: "Scenario: No payments are ready",
          href: "/payments/v2-no-payment-ready/research-set-up/intro"
        }) }}
        </div>

        <div>
        {{ govukButton({
          text: "Static page: No payment history",
          href: "/payments/v2/no-payment-history"
        }) }}
        </div>

        <div>
         {{ govukButton({
          text: "Static page: No benefits on record",
          href: "/payments/v2/no-benefits-on-record"
        }) }}
        </div>

        <div>
         {{ govukButton({
          text: "Static page: Account home - If they have never been on benefits before",
          href: "/payments/v2/account-home-no-previous-benefits"
        }) }}
        </div>

        </details>
        

      

      <h2 class="govuk-heading-m">Tech fail pages</h2>

      <p><a href="/payments/v2/tech-fails/try-again-later" class="govuk-link" rel="noreferrer noopener" target="_blank">Try again later</a>
      <p><a href="/payments/v2/tech-fails/problem-with-service" class="govuk-link" rel="noreferrer noopener" target="_blank">Service failed</a>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<!------------------------- Version 1 ------------------------------->

      <span class="govuk-caption-m">December 2025</span>
      <h2 class="govuk-heading-l">Version 1 - happy path only</h2>


      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

      {{ govukWarningText({
        text: "The dynamic content in this design is for user testing only.",
        iconFallbackText: "Warning"
      }) }}
      <p>This design lets users check their next payment date, amount, and the past 6 months of payment history</p>
      


      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Change log
          </span>
        </summary>
        <div class="govuk-details__text">
            <p>This version includes:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Design is based on the happy path</li>
                <ul class="govuk-list govuk-list--bullet">
                <li>Payments for inscope benefits only</li>
                <li>Payment data is accurate (3 working days before they get paid)</li>
                <li>The payment amount is the same as what the user is expecting</li>
              </ul>
             </ul>
        </div>
      </details>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      <div class="govuk-button-group">


       
        {{ govukButton({
          text: "View design: Payments",
          href: "/payments/v1/research-set-up/intro"
        }) }}

      </div>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<!------------------------------------------- End of Version 1 --------------------------------------------->



  <script>
    document.querySelectorAll('.govuk-table button').forEach(button => {
      button.addEventListener('click', () => {
        // Get the link from the button's data-link attribute
        const linkToCopy = button.getAttribute('data-link');
        if (linkToCopy) {
          // Copy the link to the clipboard
          navigator.clipboard.writeText(linkToCopy).then(() => {
            // Find the "Copied!" message next to the button
            const copiedMessage = button.nextElementSibling;

            if (copiedMessage) {
              // Hide the button
              button.style.display = 'none';
              // Show the "Copied!" message
              copiedMessage.style.display = 'inline';

              // Restore the button after 2 seconds
              setTimeout(() => {
                copiedMessage.style.display = 'none';
                button.style.display = 'inline';
              }, 3000); // Hide the message after 3 seconds
            }
          }).catch(err => console.error('Failed to copy link:', err));
        }
      });
    });
</script>
  

{% endblock %}
