{% extends "layouts/main.html" %}

{% block header %}


  {{ govukOneLoginServiceHeader({
    homepageLink: "/index.html",
    signOutLink: "/get-a-proof-of-benefit-letter/download/download-6-AF/signout.html",
    oneLoginLink: "/test-one-login",
    
    serviceNavigationParams: { 
      
      serviceName: "Your payment history",
      navigationLabel: "index.html"
      
    }
  }) }}


{% endblock %}

{% block pageTitle %}
Payment history
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
  }) }}

   {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <form class="form" action="/check-your-payment/v3/digital-service/next-payment" method="post">
              <div class="govuk-form-group">
              <!--
                <p class="govuk-body-m">Your national insurance number: <br><strong><bold>{{ data['national-insurance-number'] }}</bold></strong>&nbsp;&nbsp;<a href="ni-number">Change</a></p>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <p class="govuk-caption-l">{{ data['full-name'] }}</p>
              -->
        
                  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                          <h1 class="govuk-fieldset__heading">
                            Your payment history
                          </h1>
                    </legend>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Date</th>
      <th scope="col" class="govuk-table__header app-custom-class">Benefit</th>
      <th scope="col" class="govuk-table__header app-custom-class">Amount</th>
    </tr>
  </thead>

    {% if data['inScope'].length === 1 %}

      <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">12 January 2026</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">15 December 2025</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell">17 November 2025</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">20 October 2025</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">22 September 2025</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">25 August 2025</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
  </tbody>
                
    {% elif data['inScope'].length === 2 %}
  
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">12 January 2026</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">05 January 2026</td>
      <td class="govuk-table__cell">State Pension</td>
      <td class="govuk-table__cell">£921.00</td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell">15 December 2025</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">08 December 2025</td>
      <td class="govuk-table__cell">State Pension</td>
      <td class="govuk-table__cell">£921.00</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">17 November 2025</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">10 November 2025</td>
      <td class="govuk-table__cell">State Pension</td>
      <td class="govuk-table__cell">£921.00</td>
    </tr>
  </tbody>

    {% elif data['inScope'].length > 2 %}

      <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">19 December 2025</td>
      <td class="govuk-table__cell">Pension Credit</td>
      <td class="govuk-table__cell">£908.40</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">16 December 2025</td>
      <td class="govuk-table__cell">State Pension</td>
      <td class="govuk-table__cell">£921.00</td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell">08 December 2025</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">21 November 2025</td>
      <td class="govuk-table__cell">Pension Credit</td>
      <td class="govuk-table__cell">£908.40</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">18 November 2025</td>
      <td class="govuk-table__cell">State Pension</td>
      <td class="govuk-table__cell">£921.00</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">10 November 2025</td>
      <td class="govuk-table__cell">Attendance Allowance</td>
      <td class="govuk-table__cell">£295.60</td>
    </tr>
  </tbody>



    {% endif %}
 </table>


 {% if data['inScope'].length === 2 %}
<nav class="govuk-pagination" aria-label="Pagination">
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link" href="/payments/v1/payment-history" aria-label="Page 1" aria-current="page">
        1
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="/payments/v1/payment-history-2" aria-label="Page 2">
        2
      </a>
    </li>
  </ul>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="/payments/v1/payment-history-2" rel="next">
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
    </a>
  </div>
</nav>

{% elif data['inScope'].length > 2 %}

<nav class="govuk-pagination" aria-label="Pagination">
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link" href="/payments/v1/payment-history" aria-label="Page 1" aria-current="page">
        1
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="/payments/v1/payment-history-2" aria-label="Page 2">
        2
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="/payments/v1/payment-history-3" aria-label="Page 3">
        3
      </a>
    </li>
  </ul>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="/payments/v1/payment-history-2" rel="next">
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
    </a>
  </div>
</nav>
{% endif %}


                    
          <br>
          <a class="govuk-button" href="/payments/v1/account-home">
           Go back to account home
          </a>
          </form>
          </div>
        </div>
        

{% endblock %}