{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% extends "layouts/main.html" %}

{% block header %}


 {{ govukOneLoginServiceHeader({
    homepageLink: "#",
    signOutLink: "#",
    oneLoginLink: "#"
    
    
  }) }}

    {{ govukServiceNavigation({
      navigation: [],
      serviceName: "Check your recent benefit and State Pension payments",
      navigationLabel: "index.html"
    }) }}

{% endblock %}

{% block pageTitle %}
 We can only show some of your payment history
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
  }) }}

  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.back()"
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
        {% from "language-toggle/macro.njk" import dwpLanguageToggle %}
        {{ dwpLanguageToggle({
          selectedLang: "en",
          href: {
              en: "#",
              cy: "#"
          }
        }) }}
    </div>
  


{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
    We can only show some of your payment history
    </h1>
   



 <p class="govuk-body">This is because not all benefits are on this service yet.</p>

  <h2 class="govuk-heading-m">Payments you can view on this service</h2>

  <p class="govuk-body">Continue to payment history to view your payments for:</p>
  

  <ul class="govuk-list govuk-list--bullet">
      <li>Disability Living Allowance (DLA) for adults</li>
      <li>Employment and Support Allowance (ESA)</li>
  </ul>

<h2 class="govuk-heading-m">Payments you cannot view on this service</h2>

<p>You cannot use this service to view your payments for:</p>

  <ul class="govuk-list govuk-list--bullet">
      <li>Carer's Allowance</li> 
  </ul>

<p class="govuk-body">You will need to contact each benefit team directly.</p>

<p>For Carer's Allowance, <a href="https://www.gov.uk/carers-allowance-unit" class="govuk-link" rel="noreferrer noopener" target="_blank">contact the Carer's Allowance Unit (opens in a new tab)</a>.</p>


<div class="govuk-button-group">
  <a type="submit" class="govuk-button" data-module="govuk-button" href="/payments/v6/payment-history">
    Continue to payment history
  </a>
  
  <a type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" href="/payments/v6/account-home">
    Go back to account home 
  </a>
</div>


          </form>
          </div>
          </div>

    </div>
  </main>
</div>

{% endblock %}